<p>index</p>

<p><a href="/apiv1/rooms">/apiv1/rooms</a></p>

<p>create</p>

<%= form_tag(apiv1_rooms_path, method: 'post') do %>
  <p><%= submit_tag %></p>
<% end %>

<p>join</p>

<%= form_tag(apiv1_rooms_path, method: 'post') do %>
  <p><%= text_field_tag(:id, 1) %></p>
  <p><%= submit_tag %></p>
<% end %>

<p>show</p>

<p><a href="/apiv1/rooms/current">/apiv1/rooms/current</a></p>

<p>ready</p>

<%= form_tag(apiv1_room_path('current'), method: 'put') do %>
  <p><%= text_field_tag(:ready, true) %></p>
  <p><%= submit_tag %></p>
<% end %>

<p>leave</p>

<%= form_tag(apiv1_room_path('current'), method: 'destroy') do %>
  <p><%= submit_tag %></p>
<% end %>

<p>show game</p>

<p><a href="/apiv1/games/current">/apiv1/games/current</a></p>

<p>click</p>

<%= form_tag(apiv1_game_path('current'), method: 'put') do %>
  <p>
    <label><input type="radio" name="operation" value="open" checked="checked" />Open</label>
    <label><input type="radio" name="operation" value="mark" />Mark</label>
  </p>
  <p><%= submit_tag %></p>
<% end %>
